.flightList li {
    margin:0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px dotted black;
    opacity:0.9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background:#eeeeee;
}

.flightList li:hover{
    opacity:1;
    background: #FDF6E3;
    color:black;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.flight.ng-enter.ng-enter-active,
.flight.ng-leave{
    opacity:1;
    height:80px;
    overflow:hidden;
}

.flight.ng-leave.ng-enter-active,
.flight.ng-enter{
    opacity:0;
    height:0;
    overflow:hidden;
}